h1 {
    font-size: 48px;
    font-weight: 100;
    text-align: left;
    padding-top: 10px;
    margin-bottom: 10px;
    font-family: -apple-system, BlinkMacSystemFont, sans-serif
}

h2 {
    font-size: 48px;
    font-weight: 100;
    text-align: left;
    padding-top: 10px;
    margin-bottom: 10px;
    margin-left: 30px;
    font-family: -apple-system, BlinkMacSystemFont, sans-serif

}

p {
    font-size: 14px;
    font-weight: 50;
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    text-wrap: balance;
    width: 100%;
    text-align: left;
}

.sidebar {
    height: 100%;
    width: 30%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #ffffff;
    overflow-x: hidden;
    padding-top: 50px;
}

.sidebar li {
    padding: 20px 50px 20px 50px;
    text-decoration: none;
    font-size: 24px;
    color: #000000;
    display: block;
    font-family: 'Lato';
}

.sidebar li:hover {
    color:#758efd;
}

.sidebar m1 {
    padding-left: 50px;
    padding-bottom: 150px;
    text-decoration: none;
    font-size: 48px;
    font-weight: 50;
    font-family: 'Lato'
}

.nav-container{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem; 
    text-shadow: 4px 4px 8px rgba(28, 3, 3, 0.5);
    line-height: 1.6;
    letter-spacing: 0.5px;
    padding: 10px 10px; 
}

.heading {
    padding-top: 100px;
    padding-bottom: 20px;
}